header{
    height:45px;
    width:100%;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    top:0;
}
.header-left{
    float:left;
    padding-left: 5%;
    
}
.logo span{
    color:red;
    
}
.header-right{
   float:right;
   background-color:#fff;
   transition: all 0.5s;
}
.header-right a:hover{
    background-color:rgba(192, 195, 192, 0.2);;
}
.header-right a{
    line-height: 45px;
    padding:0 30px;
    color:black;
    text-decoration: none;
    
}

.body {
  margin: 0;
  font-family: "Lucida Grande";
}

/* TOP WRAPPER */
  .main{
		height:1000px;
	}

	.top-wrapper{
		margin-top: 20px;
		padding: 80px 0 100px 150px;
		color: black;
		opacity: 0.8;
	}
 
	.image-right{
		float: right;
		opacity: 0.9;
	}
 
	.top-wrapper p{
		font-size: 30px;
		border-bottom: 2px solid #dee7ec;
	}

	.top-wrapper h1{
		font-size: 60px; 
	}

	.btn-wrapper{
		padding: 12px 24px;
		background-color: #FE9D04;
		display: inline-block; 
  }
  
/* MAIN SATU - ABOUT US */

.contents-item {
  float: left;
  width: 50%;
  position: relative;
}
.contents-item img{
  width: 600px;
  height: 400px;
}

/* .main-1 h1{
  color: red;
  text-align: left;
} */
.contents-item h1{
  color: orange;
  position:absolute;
  display: inline-block;
  text-align:right;
  padding-top: 10px;
  padding-left: 10px;
}
.contents-item p{
  color: white;
  position: absolute;
  display: inline-block;
  text-align:justify;
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

/* MAIN TIGA TESTIMONI */

  .testimonials{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
  }
  .inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .border{
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .testimonial{
    background: #fff;
    padding: 30px;
  }
  .testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .stars{
    color: #6ab04c;
    margin-bottom: 20px;
  }
  
  



footer{
    height:250px;
    width:100%;
    background-color: rgba(192, 195, 192, 0.2);
    bottom:0;

}
.footer-title span{
    color: red;
    padding-left: 5%;
}
.footer-content{
    float: left;
    width: 28%;
    padding-left: 5%;
}
.footer-content p{
    display: inline-block;
}
.footer-content li{
    list-style: none;
}
.btn-playstore img{
    height: 50px;
    width:50%;
    padding-top: 5%;
}
